.header {
  width: 750;
  height: 100px;
  background-color: dodgerblue;
}
.panel {
  width: 750;
  flex: 1;
  background-color: coral;
}
.footer{
  width: 750;
  height: 150px;
  background-color: lightcoral;
}
