@import "src/js/css/reset";

.header {
  height: 100px;
  background-color: dodgerblue;
}
.panel {
  flex: 1;
  background-color: coral;
}
.footer{
  height: 150px;
  background-color: lightcoral;
}
.eros-txt {
  text-align: center;
}
.header,
.panel,
.footer {
  width: 750;
  @extend %flex-align;
}