// @Author: songqi
// @Date:   2017-03-16
// @Last modified by:   songqi
// @Last modified time: 2017-03-16



@import "../core/base";

/*暂无搜索记录*/
.no-search {
  text-align: center;
  padding-top: 100;
  font-size: $font-30;
  color: $blue-ink;
  font-weight: bold;
}
