@import 'src/js/css/variables.scss';
.status-bar {
    width: 750;
    height: 40;
    //background-color: $base-green;
}

.navigate-bar {
    width: 750;
    height: 80;
    //background-color: $base-green;
}

.touch-bar {
    height: 68;
    width: 750;
    //background-color: $bgcolor;
}
