@import "src/js/css/reset.scss";
.category {
    margin-top: 20px;
    padding-left: 30pxw;
    width: 750px;
    height: 60px;
    background-color: $white;
    justify-content: center;
}
.category-text {
    @extend %c-white;
    font-size: 26;
}
