@charset "utf-8";
@import "extra";
@import "mixin";
@import "common";
@import "iconfont";

input:-moz-placeholder,
textarea:-moz-placeholder{ color:$placeholder-color;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { color:$placeholder-color; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color:$placeholder-color; }
