@import "src/js/css/core/base";
@import "src/js/css/module/tab-switch";
@import "src/js/css/module/content-null";
@import "src/js/css/fragment/popView";
@import "src/js/css/module/common-order";
@import "src/js/css/fragment/form";
.worder-card {
    margin-top: 30;
    margin-right: 30;
    margin-left: 30;
    background-color: #fff;
    border-radius: 10;
    overflow: hidden;
}

.worder-hd {
    padding-left: 30;
    padding-right: 30;
    flex-direction: row;
    height: 100;
    font-size: $font-32;
    color: $blue-ink;
    background-color: #f9fbfc;
}

.hd-txt {
    font-size: $font-32;
    color: $blue-ink;
    line-height: 32;
}

.worder-status {
    font-size: 32;
    align-self: center;
    color: $base-orange;
}

.worder-bd {
    flex-direction: row;
    align-items: center;
    padding-top: 28;
    padding-right: 30;
    padding-bottom: 28;
    padding-left: 30;
}

.list {
    flex-direction: row;
    justify-content: flex-start;
}

.label,
.export {
    font-size: $font-32;
    line-height: 54;
    color: $blue-ink;
}

.export {
    color: $base-color;
}

.ft {
    flex-direction: row;
    justify-content: space-between;
    @include border();
    padding-top: 30;
    padding-bottom: 30;
    margin-left: 30;
    margin-right: 30;
}

.btn-list-dispatch {
    flex: 1;
    @include btn-new();
}

.btn-gray-bg {
    background-color: #abaeb3;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.scroller {
    flex: 1;
    flex-direction: row;
}

.page {
    // flex: 1;
    width: 750;
    // bottom: 10;
    // height: 200;
    // align-items: center;
    // justify-content: center;
    // flex-direction: row;
}