@import "src/js/css/reset";
@import "src/js/css/module/tabBar";

// 横向滚动tabbar
.tabbar-scroll {
    position: relative;
    width: 750;
    height: 110;
    margin-top: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    @extend %bg-white;
    overflow-x: scroll;
}
.tabbar-item-shrink {
    position: relative;
    min-width: 150;
    max-width: 150;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100;
}
