@import 'variables';
@import 'mixins';
@import '../iconfont/iconfont';
@import 'ellipsis';

.wrap{
    background-color: $bgcolor;
}
/*个性化文字大小*/
.fs24 {
    font-size: 24;
}
.fs28{
    font-size: 28;
}
.fs30{
    font-size: 30;
}
.mt0{
    margin-top: 0;
}
.mt5 {
    margin-top: 5;
}
.mt10 {
    margin-top: 10;
}
.mt15 {
    margin-top: 15;
}
.mt20{
    margin-top: 20;
}
.mt30 {
    margin-top: 30;
}
.mt40 {
    margin-top :40;
}
.mt50{
    margin-top: 50;
}
.mt60 {
    margin-top: 60;
}
.mr0 {
    margin-right: 0;
}
.mr5 {
    margin-right: 5;
}
.mr20 {
    margin-right: 20;
}
.mr30 {
    margin-right: 30;
}
.mr40 {
    margin-right: 40;
}
.mr50 {
    margin-right: 50;
}
.mr70 {
    margin-right: 70;
}
.mr78 {
    margin-right: 78;
}
.mr-tb-50 {
    margin-top: 50;
    margin-bottom: 50;
}
.mr-both-40 {
    margin-left: 40;
    margin-right: 40;
}
.mb10 {
    margin-bottom: 10;
}
.mb20{
    margin-bottom: 20;
}
.mb40{
    margin-bottom: 40;
}
.mb60 {
    margin-bottom: 60;
}
.mb140 {
    margin-bottom: 140;
}
.ml0 {
    margin-left: 0;
}
.ml5 {
    margin-left: 5;
}
.ml15 {
    margin-left: 15;
}
.ml20 {
    margin-left: 20;
}
.ml30{
    margin-left: 30;
}
.ml40{
    margin-left: 40;
}
.ml55 {
    margin-left: 55;
}
.pt20 {
    padding-top: 20;
}
.pt60 {
    padding-top: 60;
}
.pt40 {
    padding-top: 40;
}
.pt44 {
    padding-top: 44;
}
.pb0 {
    padding-bottom: 0;
}
.pb15 {
    padding-bottom: 15;
}
.pb40 {
    padding-bottom: 40;
}
.pb50 {
    padding-bottom: 50;
}
.pb60 {
    padding-bottom: 60;
}
.pb100 {
    padding-bottom: 100;
}
.pb120 {
    padding-bottom: 120;
}
.pr30{
    padding-right: 30;
}
.pr40 {
    padding-right: 40;
}
.pr110 {
    padding-right: 110;
}
.pl30 {
    padding-left: 30;
}
.pl40 {
    padding-left: 40;
}
.pd-tb-20 {
    padding-top: 20;
    padding-bottom: 20;
}
.pd-tb-30{
    padding-top: 30;
    padding-bottom: 30;
}
.pd-all-40 {
    padding-top: 40;
    padding-bottom: 40;
    padding-left: 40;
    padding-right: 40;
}
.pd-lr-40 {
    padding-left: 40;
    padding-right: 40;
}
.text-underline{
    text-decoration: underline;
}
.line-height40{
    line-height: 40;
}
.line-height56{
    line-height: 56;
}
.line-height60 {
    line-height: 60;
}
.w190{
    width: 190;
}

.h100{
    height: 100;
}
.h120 {
    height: 120;
}
.h130 {
    height: 130;
}
.h200 {
    height: 200;
}
.h240 {
    height: 240;
}
.c-white {
    color: $base-white;
    font-weight: bold;
}
.c-red{
    color: $base-orange;
    font-weight: bold;
}
.c-blue{
    color: $base-blue;
    font-weight: bold;
}
.c-green{
    color: $base-green;
    font-weight: bold;
}
.c-gray{
    color: $blue-ink;
    font-weight: bold;
}
.c-base {
    color: $base-color;
    font-weight: bold;
}
.flex{
    flex: 1;
}
.font-weight{
    font-weight: bold;
}
.f-black {
    color: $base-color;
}
.f-orange {
    color: $base-orange;
}
.f-green {
    color: $base-green;
}
.export-blue {
    color: $export-blue;
    font-size: $font-24;
}
.export-red {
    color: $export-red;
    font-size: $font-24;
}
.export-orange {
    color: $export-orange;
    font-size: $font-24;
}
.placeholder {
    color: $gray-color;
}
.no-border-top {
    border-top-width: 0;
}
.no-border-bottom {
    border-bottom-width: 0;
}
.fixed-bot {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.wrap-border {
    @include border-both(top,bottom);
}
/*认证状态*/
.not-real {
    color: $base-orange;
}
.real {
    color: $btn-green;
}

/*修改默认头部*/
.header-body {
    flex-direction: row;
    @extend .flex-align;
    background-color: $base-white;
    @include border(bottom);
    padding-top: 50;
    padding-right: 20;
    padding-bottom: 12;
    padding-left: 20;
}
.header-blue {
    background-color: #00b4cb;
}
.tit-header {
    flex: 1;
    text-align: center;
    height: 60;
    line-height: 50;
    font-size: $font-36;
    color: $base-color;
    font-weight: bold;
}
.tit-done {
    font-size: $font-36;
    font-weight: bold;
    color: $base-color;
    position: absolute;
    line-height: 50;
    height: 60;
    top: 40;
    right: 30;
}
.font-white {
    color: #fff;
    font-weight: bold;
}


/*置灰未开通状态*/
.disabled {
    color: #acacbf;
}
.bg-white {
    background-color: $base-white;
}
.align-top {
    align-self: flex-start;
}
.border-top {
    @include border(top);
}
.border-bottom {
    @include border(bottom);
}
.no-more {
    padding-top: 30;
    padding-bottom: 30;
    color: #a6a6a6;
    font-size: $font-28;
    text-align: center;
}
.export-new-font {
    font-size: $font-32;
    color: $base-color;
}
