@import "src/js/css/reset.scss";
.btn-container {
  @extend %row-center;
  height: 90;
  padding-right: 30;
  padding-left: 30;
  border-width: 1;
  border-style: solid;
  border-color: map-get($eros-theme,silver);
}
.btn-text {
  font-size: 36;
  color: #333;
}
.btn-raised {
  box-shadow: $box-shadow-raised;
}
.btn-circle {
  @include border-radius(120);
}
.btn-disabled {
  opacity: 0.6;
}
.pd-rt-18 {
  padding-right: 18;
}

