@import "src/js/css/reset.scss";

.eros-cell-checkbox {
  position: relative;
  @extend %row-start;
  @extend %bg-white;
  padding-right: 30;
  padding-left: 30;
  height: 90;
}
.eros-check-txt {
  font-size: 30;
  @extend %c-base;
}

.flex-1 {
  @include flex-direction(row);
  flex: 1;
  @include justify-content(flex-end);
  text-align:right;
}
