@import "src/js/css/reset.scss";
.eros-list {
  @extend %bg-white;
}

.cell-item {
  position: relative;
  flex-direction: row;
  @extend %bg-white;
  padding-right: 30;
  margin-left: 30;
  height: 90;
  align-items: center;
}

.bor-top {
  border-top-width: 1px;
  border-style: solid;
  border-color: #eee;
  &:first-child {
    border: 0;
  }
}

.check.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 4px;
  width: 14px;
  height: 8px;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cell-tit {
  width: 180;
  font-size: 30;
  @extend %c-text;
}

.cell-flex {
  flex: 1;
  font-size: 30;
  @extend %c-base;
  text-align: left;
}

.eros-input {
  font-size: 30;
  color: red;
}

.flex-row {
  @include align($justify-content: flex-start);
}

.flex-1 {
  @include flex-direction(row);
  @include flex();
  @include justify-content(flex-start);
}
