@import "common";

.bui-actionsheet{
  //position: absolute;
  //left:0px;
  //right: 0px;
  //top: 0px;
  //bottom: 0px;
  //background-color: #00c277;
}

.bui-actionsheet-box{
  position: fixed;
  left: 0px;
  right: 0px;
  margin: $nb50;
  margin-top: 0px;
  flex-direction: column;
  overflow: hidden;
}
.bui-actionsheet-top{
  border-radius: $nb10;
  //border-bottom-left-radius: $nb10;
  overflow: hidden;
  background-color: $color_white;
}
.bui-actionsheet-bottom{
  margin-top: $nb15;
}
.bui-actionsheet-title{
  padding: $nb30;
  text-align: center;
  font-size: $nb28;
  color: $color_subtitle;
}

.bui-actionsheet-content{
  //padding: $nb30;
  //margin-top: $nb50;
  flex-direction: column;
  flex: 1;
}
.bui-actionsheet-list{
  border-top-width: 1px;
  border-top-color: $color_border;
  padding: $nb30;
  text-align: center;
  font-size: $nb34;
  color: $color_primary;
}
.bui-actionsheet-list:active{
  background-color: $color_default;
}
.bui-actionsheet-btn{
  font-size: $nb34;
  color: $color_primary;
  font-weight: bold;
  background-color: $color_white;
  padding: $nb30;
  text-align: center;
  border-radius: $nb10;
}
.bui-actionsheet-btn:active{
  background-color: $color_default;
}